h1{
 color:red;
}
h1{
    text-align:center;
}

h1{
    background-color:white;
}
body{
    background-image:url(../images/utyuu01.png);
}
h2{
    text-align:center;
}
h2{
    color:lightcyan;
}
h2{
    background-color:blue;
}
h3{
    color: mediumspringgreen;
}
p{
    color:azure;
}





