h1{
 color:red;
}
h1{
    text-align:center;
}

h1{
    background-color:white;
}
body{
    background-image:url(../images/ff13-2%201.jpg)
}
table{
    background-color: aliceblue;
}
h2{
    text-align:center;
}
h2{
    color:lightcyan;
}
h2{
    background-color:blue;
}


p{
    color:azure;
}

ul{
    background-image: url(../images/sirotairu.jpg);
}
address{
         color: aliceblue;
}


